$navbackground: rgba(25, 52, 66, 1);
$hoverlink: rgba(25, 52, 66, 0.5);

.nav-title {
  .balast {
    color: white;
  }
  .off {
    color: #8e7155;
  }
}

.navbar {
  background: $navbackground;
  color: white;

  .navbar-brand {
    color: white;
    font-size: 1.9em;
    list-style: none;
  }
  .navbar-brand:hover {
    cursor: default;
    color: white;
  }

  .nav-divider {
    padding: 0;
    margin: 0;
    height: 50px;
    width: 1px;
  }

  .navbar-nav {
    background: $navbackground;
    color: white;

    li.open a {
      background: $navbackground;
    }

    .dropdown-toggle {
      color: white;
    }

    .dropdown-toggle:hover {
      background: $hoverlink!important;
      color: white!important;
    }

    .dropdown-toggle:focus {
      background: $hoverlink!important;
      color: white!important;
    }

    .dropdown-toggle {
      background: $navbackground;
      color: white!important;
    }

    .dropdown-menu {
      color: white;
      a {
        color: white;
      }

      li {
        a {
          color: white!important;
        }
      }

      background: $navbackground;
    }

    .link {
      color: white;
    }



    .link:hover {
      background-color: $hoverlink;
      color: white;
    }
  }
}

.loggedout {
  display: none;
}

.loggedin {
  display: block;
}

@media (max-width: 600px) {
  .nav-divider {
    width: 100%!important;
    height: 1px!important;
  }

  .navbar {
    font-size: 0.7em;
    font-weight: normal;
  }
}

@media (max-width: 1200px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

.disconnect-message {
  color: red;
}
