* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

@media (max-width: 600px) {

}
