body {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 2em;
  font-weight: normal;
  margin-top: 60px;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-justify-space-around {
  justify-content: space-around;
}

.flex-justify-content-center {
  justify-content: center;
}

.no-outline {
  &:focus {
    outline: none!important;
  }
}

.full-width {
  width: 100%;
}
