@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~react-virtualized/styles.css';
@import './react-datetime.css';
@import './resets';
@import './shared';
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
@import '~foundation-icons/foundation-icons.scss';
@import '~font-awesome/scss/font-awesome.scss';
@import '~fixed-data-table/dist/fixed-data-table.css';
@import '../features/app/components/nav/nav';
@import '../features/app/components/admin/admin';
@import '../features/app/components/registrations/registrations';
@import '../features/app/components/home/home';
@import '../features/app/components/instructions/instructions';
@import '../features/app/components/store/store';
@import '../features/app/components/dashboard/dashboard';
