.admin-registrations {
  .admin-participant {
    &:hover {
      background: lightgray;
      cursor: pointer;
    }
  }
  div:nth-child(even) {
    background: lightgray;
  }
}

.error-message {
  color: red;
}

.search-input {
  border: 1px solid gray;
}

.form-submit-buttons {
  margin-top: 30px;
  width: 130px;
}

.level-check-container {
  .leads-container, .follows-container {
    width: 100%;
  }
}

.level-check-form {
  width: 100%;
  margin-bottom: 30px;
  font-size: 2em;
  align-items: center;

  .level-check-dropdown {
    width: 100%;
    height: 50px;
    font-size: 0.7em;
  }

  span {
    width: 25%;
  }

  .accept-level {
    margin-left: 30px;
    margin-right: 30px;
  }

  .no-level-check {
    color: darkred;
  }
}

.level-check-info {
  width: 100%;
  font-size: 1.5em;

  span {
    width: 25%;
  }
}

.header-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.level-check-filters {
  margin: 0 100px;
  display: flex;
  color: #8e7155;
  justify-content: space-between;
  font-size: 1.2em;

  span:hover {
    cursor: pointer;
  }
}

.mission-gear-issues {
  .issues-table-header {
    font-weight: bold;
    font-size: 1.2em;
  }
  .issues-table {
    height: 500px;
    overflow-y: scroll;

    div:nth-child(even){
      background: lightgray;
    }
  }
}

.resolved-class {
  text-decoration: line-through;
}

.updated-badges {
  text-decoration: line-through;
}

.highlighted {
  background: rgba(132, 39, 39, 0.5);
}

// Money log

.money-log-wrapper {

  .money-log-header {
    display: flex;
    align-items: flex-end;
  }

  .money-log-body {
    border: 1px solid black;
    box-shadow: 4px 1px 2px grey;
    height: calc(100vh - 300px);
    overflow-y: auto;

    .money-log:nth-child(even) {
      background: rgba(64, 93, 108, 0.1);
    }

    .money-log {
      border-bottom: 1px solid lightgray;
      padding: 5px;
    }
  }
}

.add-money-log {
  position: fixed;
  width: 300px;
  top: 130px;
  background: lightgray;
  padding: 20px;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px grey;
}

.show-money-log {
  position: absolute;
  left: 56px;
  top: 30px;
  font-size: 0.8em;
  color: #337ab7;

  &:hover {
    cursor: pointer;
  }
}

.graph-container {
  height: 250px;
  align-items: flex-end;
}

.voided {
  color: red;
}
