.store-btn {
  height: 50px;
  width: 100%;
  font-size: 0.9em;
}

.store-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
  flex: 1;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;

  .item-name {
    font-size: 1.5em;
    flex-grow: 1;
    text-align: center;
  }
  
  .item-price {
    font-size: 1.5em;
  }
}

.purchase-toast {
  position: fixed;
  right: 25px;
  top: 65px;
  background: green;
  animation: pulse 3s infinite;
  padding: 15px;
  border-radius: 5px;
  color: white;
}

.item-amount-container {
  width: 30%;
  display: flex;
  justify-content: space-between;

  .amount-btns {
    font-size: 4em;
  }

  .current-amount {
    font-size: 6em;
  }
}

.final-total {
  font-size: 2em;
}

.cart-checkout {
  width: 85%;

  .row:not(:last-child) {
    border-bottom: 1px solid lightgray;
  }
}

.checkout {
  &.confirmation-inner {
    padding: 30px 10px;
    width: 85%;
  }

  .row {
    display: flex;
    align-items: center;
    height: 45px;

    &.header {
      font-weight: bold;
    }
  }
}

.store-btns {
  width: 275px;
}