.options-container {
  justify-content: space-between;
  margin: 10px 0 10px 0;
}

.option {
  align-items: center;

  span {
    margin-right: 8px;
  }
}

.search {
  margin: 10px 0 10px 0;
}

.registrations-table {
  tr:nth-child(even) {background: #E1E1E1}
}
